.header {
  padding: 100px 80px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  // justify-content: center;
  background-color: rgba(14, 13, 13, 0.4);

  min-height: 100vh;

  Button {
    font-size: 1rem;
    margin: 10px;
    color: aliceblue;
    border: 2px solid aliceblue;
    transition: all 0.3s;

    &:hover {
      // left: 10%;
      border: 2px solid rgb(77, 76, 76);
      transition: all 0.3s;
    }
  }

  a {
    text-decoration: none;
  }
}

.body {
  color: #fff;
  font-size: 1.5rem;
  padding: 100px;
}

.daily-todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // width: 100%;

  &__input {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    color: #fff;

    .input-todo {
      width: 20rem;
      color: #fff;

      input {
        color: #fff;
      }
    }

    .todo-list {
      // display: flex;
      // justify-content: center;
      // align-items: center;
    }
  }

  &__output {
    width: 40rem;
    &-item {
      max-width: 40rem;
      background-color: rgba(206, 204, 204, 0.8);
      color: rgb(32, 32, 32);
      margin: 8px;
      padding: 0 10px;
      font-size: 1.2rem;
      text-align: left;
      display: flex;
      align-items: center;

      justify-content: space-between;

      .icons {
        display: inline-flex;

        .delete-button:hover {
          color: red;
        }
        .rename-button:hover {
          color: red;
        }
        .check-button:hover {
          color: red;
        }
      }
    }
    .rename-todo {
      position: absolute;
      margin-top: -1px;
      margin-left: 8px;
      input {
        height: 28px;
        width: 29rem;
        font-family: "Montserrat", sans-serif;
        font-size: 1.2rem;
        border: none;
        color: rgb(241, 240, 240);
        background-color: #f05f5f;
        padding-left: 10px;

        &:focus {
          outline: none;
        }
      }

      button {
        margin-left: -6px;
        height: 30px;

        font-family: "Montserrat", sans-serif;
        font-size: 1.2rem;
      }
    }

    &-itemDone {
      // max-width: 80%;
      background-color: rgba(112, 247, 135, 0.6);
      text-decoration: line-through;
    }
  }
}
